<!DOCTYPE>
<html>
<head>
    <%- include('head.ejs') %>
    <title>Thank you! Your order confirmation</title>
</head>

<body>
<%- include('banner.ejs') %>
<div class="container">  
    <div class="panel panel-info" >
        <div class="panel-heading"><h3 class="panel-title">Thanks for your order!</h3></div>
        <div class="panel-body">
            <p>Thank you so much for your order! Please take a minute to confirm your order with us. </p>
            <span>A copy of this confirmation has been sent to your email: </span><%= email %> <br>

            <h3>Order Confirmation</h3>
            <span>Quantity:</span><%= qty %><br>
            <span>Your pizza: </span><%= size %>, <%= crust %>, <%= topping %><br>
            
            <h3>Delivered to:</h3>
            <span>Address: </span><%= apt %> <%= street %> <br>
            <span>Postal Code: </span> <%= postal %> <br>
            <span>Phone number: </span> <%= phone %> <br>
        </div>
    </div>
</div>
</body>
</html>