<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs')%>
    <title>Kae's Pizza Place</title>
</head>
<body>
    <%- include('banner.ejs') %>
    <div class="container">
        <h2>Place your pizza order: </h2>
        <p>Fill out the order form below to order your delicious pizza(s)!</p>

        <!-- form -->
        <form action="/" method="POST">
            <span>Pick your size:</span>
            <select name="size">
                <option name="size1" value="<%= size1 %>"><%= size1 %>
                <option name="size2" value="<%= size2 %>"><%= size2 %>
                <option name="size3" value="<%= size3 %>"><%= size3 %>
            </select> 
            <br> 
            
                <span>Pick your favourite crust:</span>
            <select name="crust">
                <option name="crust1" value="<%= crust1 %>"><%= crust1 %>
                <option name="crust2" value="<%= crust2 %>"><%= crust2 %>
            </select>   
            <br>   
            <span>Pick your topping:</span>               
            <input type="checkbox" name="topping" value="<%= topping1 %>"><%= topping1 %>
            <input type="checkbox" name="topping" value="<%= topping2 %>"><%= topping2 %>
            <input type="checkbox" name="topping" value="<%= topping3 %>"><%= topping3 %>
            <input type="checkbox" name="topping" value="<%= topping4 %>"><%= topping4 %>                
            <br><br>
            <span>Quantity:</span>
            <input type="text" name="qty" size=1 required>

        <h2>Delivery Details</h2>
            <span>Phone Number:</span>
            <input type="text" name="phone" size=10 placeholder="123-456-7890" required>
            <br>   

            <span>Address:</span>
            <input type="text" name="apt" size=3 placeholder="apt#" required>
            <input type="text" name="street" size=20 placeholder="Awesome St" required>
            <input type="text" name="postal" size=7 placeholder="A1C 2E3" required>
            <br>

            <span>Email:</span>
            <input type="text" name="email" size=30 placeholder="youareawesome@awesome.com" required>   
            <br><br>
            <input type="submit" value="Submit">
        </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>